.discordbsd-screenshare {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99991;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenshare-main * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.screenshare-main {
  background-color: rgb(24 24 27);
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  max-width: 32rem;
}

.screenshare-header {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.screenshare-logo {
  margin-right: 0.5rem;
  height: 2.5rem;
}

.screenshare-title {
  color: rgb(244 244 245);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
}

.screenshare-lists {
  display: grid;
  overflow-y: scroll;
  padding: 1rem;
  margin-top: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  max-height: 24rem;
}

.screenshare-lists-screen {
  overflow: hidden;
  padding: 0;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(63 63 70);
  width: 100%;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.screenshare-lists-screen:hover {
  transform: scale(1.05);
}

.screenshare-lists-screen img {
  object-fit: cover;
  width: 100%;
  height: 8rem;
}

.screenshare-lists-screen div {
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(39 39 42);
}

.screenshare-lists-screen div span {
  color: rgb(244 244 245);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.screenshare-actionbar {
  display: flex;
  margin-top: 1.5rem;
  justify-content: flex-end;
  width: 100%;
}

.screenshare-cancelbtn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  background-color: #DC2626;
  color: rgb(244 244 245);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.screenshare-cancelbtn:hover {
  background-color: #B91C1C;
}

.screenshare-lists::-webkit-scrollbar {
  width: 8px;
}

.screenshare-lists::-webkit-scrollbar-track {
  background-color: rgb(39, 39, 42);
  border-radius: 4px;
}

.screenshare-lists::-webkit-scrollbar-thumb {
  background-color: rgb(63, 63, 70);
  border-radius: 4px;
  border: 2px solid rgb(39, 39, 42);
}

.screenshare-lists::-webkit-scrollbar-thumb:hover {
  background-color: rgb(74, 74, 74);
}
